@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(../fonts/special_elite.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
body{
    font-family: 'Special Elite', cursive;
    top: 0px;
    left: 0px;
    background-color: #FFFDC7;
    overflow: hidden;
}
p{
	height: 100px;
}
.content{
    position: absolute;
    width: 1080px;
    height: 1920px;
    top: 0px;
    left: 0px;
    padding-top: 300px;
    padding-left: 200px;
    text-align: left;
    font-size: 35px;
}
.rotate{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
